/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);*/

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/ceqTZGKHipo8pJj4molytjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/KAKuHXAHZOeECOWAHsRKA9kZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Mono Bold Italic'), local('UbuntuMono-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/n_d8tv_JOIiYyMXR4eaV9QRV2F9RPTaqyJ4QibDfkzM.woff) format('woff');
}

body {
    font-family:  'Ubuntu Mono', consolas, monospace;
    background: rgba(34,34,34,1) url('../img/dark_wood.png') scroll;
}

.wrapper {
    min-width: 320px;
    width: 80%;
    margin: auto auto;
}

h1 {
    margin:  auto auto;
    text-align: center;
}

header, footer, section {
    background-color:  rgba(25,25,25, .75);
    color:  rgba(255,255,255,1);
    padding: 1% 5%;
    margin: 2%;
    border-radius: 5px;
    text-shadow: rgba(0,0,0,1) 1px 1px 3px;
    border:  1px outset rgba(255,255,255,.1);
}

footer {
    text-align: center;
}

a:link {
    color: rgba(255,255,255,.85);
    -webkit-transition:  all .5s;
    transition:  all .5s;
}

a:visited {
    color: rgba(200,200,200,.65); 
}

a:hover, a:focus {
    color: rgba(255,255,255,1); 
}

ul {
    list-style-type: square;
    margin:  0;
    padding:  0;
}

#recentTracks {
    margin:  20px 0;
}

li.track {
    margin-top:  10px;
    clear:  both;
    display:  block;
    margin-top: 15px;
    min-height: 64px;
    padding:  0;
}

.thumb {
    float:  left;
    height:  64px;
    width:  64px;
    margin: 0 10px 0 0;
    box-shadow:  rgba(0,0,0,1) 1px 1px 3px;
    cursor:  pointer;
    opacity:  .85;
    -webkit-transition:  all .5s;
    transition:  all .5s;
    -webkit-filter: grayscale(45%);
    filter: grayscale(45%);
}

li.track.selected .thumb, li.track:hover .thumb, li.track:focus .thumb, .thumb:hover, .thumb:focus {
    opacity:  1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

li.track.first .thumb {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.date,
.artist,
.name,
.album,
.extBtn {
    display:  inline-block;
    margin:  0 5px 0 0;
}

.extBtn {
    margin:  0 10px 0 0;
}

.date {
    font-size: smaller;
}
.artist, .name {
    font-weight:  bold;
}     
.artist:after {
    content: ' - ';
}
.album:before {
    content: ' (';
}
.album:after {
    content:  ')';
}
.numberInput {
    width: 40px;
}