@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body {
    font-family:  'Ubuntu Mono', consolas, monospace;
}

.date,
.artist,
.name,
.album,
.extBtn {
    display:  inline-block;
    margin:  0 5px 0 0;
}
.date:after {
    content: ' :';
}            
.artist:after {
    content: ' - ';
}
.album:before {
    content: ' (';
}
.album:after {
    content:  ')';
}
.numberInput {
    width: 40px;
}